In [1]:
# ETL PRoject

The aim of this project is to extract movies dataset from different sources, clean the data and insert into a postgres database. 
Technologies used will include:
Postgres Database
sqlalchemy library
Pandas
Source data willbe csv file pulled from imbd datasource

The dataset contains data on Movies, Actors and ratings. We intend to pull each dataset into a seperate table, and create joins that link actors to movies and ratings for insight into the dataset

In [1]:
import pandas as pd

In [2]:
data_source = 'Resources/'

In [3]:
movies_csv = data_source + 'IMDB movies.csv'
actors_csv = data_source + 'IMDB names.csv'
ratings_csv = data_source + 'IMDB ratings.csv'
title_principals = data_source + 'IMDb title_principals.csv'

In [4]:
actors = pd.read_csv(actors_csv)

/Users/richardnwokoye/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
actors_cols = ['imdb_name_id','name','birth_name','date_of_birth','place_of_birth','date_of_death','reason_of_death']

In [33]:
actors = actors[actors_cols]

In [34]:
actors.head(3)

,imdb_name_id,name,birth_name,date_of_birth,place_of_birth,date_of_death,reason_of_death
0,nm0000001,Fred Astaire,Frederic Austerlitz Jr.,1899-05-10,"Omaha, Nebraska, USA",6/22/1987,pneumonia
1,nm0000002,Lauren Bacall,Betty Joan Perske,9/16/1924,"The Bronx, New York City, New York, USA",8/12/2014,stroke
2,nm0000003,Brigitte Bardot,Brigitte Bardot,9/28/1934,"Paris, France",NaN,NaN

In [12]:
movies = pd.read_csv(movies_csv)

/Users/richardnwokoye/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
movie_cols = ['imdb_title_id','title','year','date_published','genre','duration','language','director','actors', \
             'description', 'avg_vote', 'budget','worlwide_gross_income','reviews_from_critics']

In [35]:
movies = movies[movie_cols]

In [14]:
ratings = pd.read_csv(ratings_csv)

In [27]:
ratings_cols = ['imdb_title_id','weighted_average_vote','total_votes','females_allages_avg_vote','males_allages_avg_vote']

In [28]:
ratings = ratings[ratings_cols]

In [20]:
title_principalsDF = pd.read_csv(title_principals)

In [36]:
title_principalsDF.head(2)

,imdb_title_id,ordering,imdb_name_id,category,job,characters
0,tt0000009,1,nm0063086,actress,NaN,"[""Miss Geraldine Holbrook (Miss Jerry)""]"
1,tt0000009,2,nm0183823,actor,NaN,"[""Mr. Hamilton""]"